body {
  margin-left: 1rem;
  margin-left: 1rem;
  font-family: 'AvenirLTStd', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  font-style: normal;
}
